<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pirates!</title>
  </head>
  <body>
<form action="/pirate" method="post">
  Pirate Name: <input type="text" name="pirate[name]">
  Pirate Weight: <input type="text" name="pirate[weight]">
  Pirate Height: <input type="text" name="pirate[height]">
  Ship1 Name: <input type="text" name="pirate[ships][][name]">
  Ship1 Type: <input type="text" name="pirate[ships][][type]">
  Ship1 Booty: <input type="text" name="pirate[ships][][booty]">
  Ship2 Name: <input type="text" name="pirate[ships][][name]">
  Ship2 Type: <input type="text" name="pirate[ships][][type]">
  Ship2 Booty: <input type="text" name="pirate[ships][][booty]">
  <input type="submit" value="Submit">
</form>
  </body>
</html>
